@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #122664;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #3A9AF9;
	background-color: #ffffff;
}

/*spacing between lists */
.footer-col ul li:not(:last-child){
	margin-bottom: 8px;
}
.footer-col ul li a{
	text-transform: capitalize;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}

/*TAMA */
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

